@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500&display=swap");

div,
* {
	font-family: "Noto Sans TC", sans-serif;
}

$color-main:#0fb0ef;
$color-light:#ffffff;
$color-gray:#e8e5e5;